<!--
*******************************************************************************************************************************
* AK.Chore.Presentation.Client.tasks.task-search.html
* Copyright © 2014-2015 Aashish Koirala <http://aashishkoirala.github.io>
*
* This file is part of CHORE.
*
* CHORE is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* CHORE is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with CHORE.  If not, see <http://www.gnu.org/licenses/>.
*
*******************************************************************************************************************************
-->

<!--
    task-search.html - View template for the "Search Tasks" section.
    @author Aashish Koirala
-->

<div class="col-md-2"></div>
<div class="col-xs-12 col-md-8">
    <div class="well well-sm">
        <label class="form-label full-width">
            Search criteria:<br/>
            <chore-criterion-editor ng-model="criterion"></chore-criterion-editor>
        </label>
        <br/><br/>
        <label class="form-label">
            <input type="checkbox" ng-model="save" />
            Save as filter
        </label>
        <br/>
        <label class="form-label">
            <input type="text" placeholder="Enter filter name" ng-model="saveAsFilterName" ng-disabled="!save"/>
        </label>
        <br/><br/>
        <button type="button" class="btn btn-sm btn-primary" ng-click="applyFilter()" ng-disabled="isWorking() || !canApplyFilter()">Apply</button>
        <button type="button" class="btn btn-sm btn-info" ng-click="cancel()" ng-disabled="isWorking()">Cancel</button>
    </div>
</div>