<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetDir)AK.Commons.dll" #>
<#@ assembly name="$(TargetDir)AK.Modeling.TextTemplating.dll" #>
<#@ assembly name="$(TargetDir)AK.ToDo.Model.dll" #>
<#@ import namespace="AK.Modeling.TextTemplating.Entities" #>
<#@ import namespace="AK.ToDo.Model" #>
<#@ output extension=".generated.cs" #>
using AK.ToDo.Contracts.DataAccess.Entities;
<#= EntityUtility.GenerateRepositoryContractsFromResources("AK.ToDo.Contracts.DataAccess.Repositories", typeof(Stub).Assembly, "AK.ToDo.Model.Entities.json") #>