<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AK.ToDo.Contracts.DataAccess\packages.config" />
  <repository path="..\src\AK.ToDo.Contracts.Services\packages.config" />
  <repository path="..\src\AK.ToDo.DataAccess\packages.config" />
  <repository path="..\src\AK.ToDo.Services\packages.config" />
  <repository path="..\src\AK.ToDo.Web\packages.config" />
</repositories>