.cell { vertical-align: middle !important; text-align: center !important; }
.cell-icon { width: 20px !important; }
.cell-text { font-size: small !important; max-width: 100px !important; }
.container-fluid > .sidebar { position: relative; top: 0; left: auto; width: 220px; }
.container-fluid > .content { margin: 0 260px; }
.font-small { font-size: small !important; }
.font-smaller { font-size: smaller !important; }
.font-xsmall { font-size: x-small !important; }
.pointer { cursor: pointer !important; }
.left { float: left; }
.right { float: right; }
.vert-middle { vertical-align: middle !important; }