/*******************************************************************************************************************************
 * AK.Chore.Presentation.Client.banner.banner.css
 * Copyright © 2014-2015 Aashish Koirala <http://aashishkoirala.github.io>
 * 
 * This file is part of CHORE.
 *  
 * CHORE is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * CHORE is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with CHORE.  If not, see <http://www.gnu.org/licenses/>.
 * 
 *******************************************************************************************************************************/

/* banner.css - Styles for the banner section.
 * @author Aashish Koirala
 */

.title-bar {
    height: 40px;
}

.title-bar-separator {
    padding: 5px;
    border-top: 1px dashed lightgray;
}

.title-bar-item {
    top: 0;
    height: 40px;
}

.title-bar-item-app-title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.title-bar-item-working-display {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.title-bar-item-app-sections-lg, .title-bar-item-app-sections-md {
    position: absolute;
    top: 50%;
    margin-top: -36px;
}

.title-bar-item-app-sections-sm {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.title-bar-item-app-sections-xs {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.title-bar-item-user-info {
    margin-top: 3px;
}